@charset "utf-8";
/* 어바웃 메뉴 리스트 */
.about-lists {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background-color: antiquewhite;
  margin-bottom: 100px;
}
.about-lists > h2 {
  width: auto;
  position: relative;
  cursor: pointer;
}
.about-lists > h2::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 0px;
  height: 2px;
  background-color: #056726;
  transition: all 0.3s;
}
.about-lists > h2:first-of-type::after {
  background-color: rgb(228, 36, 36);
}
.about-lists > h2:hover::after {
  width: 100%;
}

/* 잇츠베러 ======================================================================*/
.its-better_txt {
  display: block;
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 150px;
}
.its-better_txt > .its-better_logo {
  position: absolute;
  width: 380px;
}
.its-better_logo > img {
  width: 100%;
}
.its-better_txt > h3 {
  position: absolute;
  left: 335px;
  top: 84px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}
.its-better_subtxt {
  max-width: 858px;
  width: 100%;
  margin: 0 auto 80px;
  font-family: "Noto Sans KR", sans-serif;
}
.its-better_img {
  padding-left: 108px ;
  width: 760px;
  height: 760px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: aqua;
  border-radius: 500px;
  display: flex;
  /* justify-content: center; */
  align-content: center;
  flex-wrap: wrap;
  transition: all 0.3s;
}
.its-better_mover {
  width: 100%;
  left: 0;
  transform: translateX(0);
}
.its-better_more-info {
  position: relative;
  width: 100%;
  height: 760px;
  background-color: rgb(151, 167, 167);
}

/* 잇츠베러 가운데 이미지======================================================================== */
.its-better_middle-img {
  width: 544px;
  height: 544px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.its-better_middle-img_after {
  width: 100%;
  height: 100%;
  padding-top: calc(50% - 30px);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  background-color: #00000050;
  color: white;
  opacity: 0;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.its-better_middle-img_after:hover {
  opacity: 1;
}
.its-better_middle-img > img {
  width: 100%;
}
/* 더플랜잇 ==========================================================================*/
.the-plant-eat_txt {
  display: block;
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
}
.the-plant-eat_txt > .the-plant-eat_logo {
  position: absolute;
  width: 380px;
  height: 150px;
  overflow: hidden;
}
.the-plant-eat_txt > .the-plant-eat_logo > img {
  width: 100%;
}
.the-plant-eat_txt > h3 {
  position: absolute;
  left: 370px;
  top: 57px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}
.the-plant-eat_txt > h3 > p > span {
  color: #056726;
}
.the-plant-eat_subtxt {
  max-width: 858px;
  width: 100%;
  margin: 0 auto 80px;
  font-family: "Noto Sans KR", sans-serif;
}
.the-plant-eat_explain {
  text-align: center;
}
/* 더 플랜잇 상세 페이지 */
/* 기술 및 방향성 */
.the-plant-eat_about_main-bg {
  width: 100%;
  height: 600px;
  background-color: #00000046;
}
.the-plant-eat_about_main-section {
  width: 100%;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  background-color: #056726;
  position: relative;
}
/* 이미지 움직이기 -=======================================*/
.the-plant-eat_flip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
}

.the-plant-eat_flip > .card {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.4s ease-out;
  transform-style: preserve-3d;
}

.the-plant-eat_flip > .card > .front,
.the-plant-eat_flip > .card > .back {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.the-plant-eat_flip > .card > .over {
  overflow: hidden;
}
.the-plant-eat_flip > .card > .over img {
  width: 100%;
}

.the-plant-eat_flip > .card > .front {
  background: rgb(255, 255, 255);
}

.the-plant-eat_flip > .card > .back {
  background: royalblue;
  transform: rotateY(-180deg);
}

.the-plant-eat_flip:hover > .card {
  transform: rotateY(-180deg);
}
