@charset "utf-8";
/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.community{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.community-title{
    display:flex;
    justify-content: center;
}
.title-list{
    display: block;
    float: left;
}
.community-list{
    display: flex;
    justify-content: center;
}