@charset "utf-8";
.event {
  width: 100%;
}
.event .inner {
  padding: 0 20px;
}
.event.active {
  margin-top: 110px;
}
.recommend {
  width: 100%;
  padding: 0 3vw;
}
.event .menu-title-wrap {
  height: 380px;
  padding-top: 130px;
}
.title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 2vw;
  font-family: "Noto Sans KR", sans-serif;
}
.title > p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  line-height: 50px;
  font-size: 15px;
}
.title > h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 800;
  font-size: 40px;
  /* line-height: 50px; */
  margin-top: 10px;
  color: #034934;
}

/* 이번달의 기획 */
.recommend-month {
  width: 100%;
  height: 60px;
  max-width: 700px;
  background-color: #034934;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
  /* padding: 0 20px; */
}
.recommend-month > span {
  width: 2px;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.recommend-month > div {
  width: 100%;
  color: white;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.tMT {
  transform: translateY(-80%);
  animation: tMMT 0.3s;
  animation-delay: 0.5s;
  animation-duration: leaner;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
.tMF {
  transform: translateY(80%);
  animation: tMMB 0.3s;
  animation-delay: 1s;
  animation-duration: leaner;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
.tMO {
  transform: translateY(-80%);
  animation: tMMT 0.3s;
  animation-delay: 1.5s;
  animation-duration: leaner;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes tMMT {
  0% {
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes tMMB {
  0% {
    transform: translateY(80%);
  }
  100% {
    transform: translateY(0);
  }
}

/* 기획 상품 이미지 */
.products {
  width: 100%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  justify-content: space-between;
}
.products img {
  transform: scale(1); /* 이미지 확대 */
  transition: transform 0.7s; /* 시간 설정 */
}
.products img:hover {
  transform: scale(1.2); /* 이미지 확대 */
  transition: transform 0.7s; /* 시간 설정 */
}
.main_sale {
  width: 100%;
  height: 100%;
  margin-right: 2px;
  position: relative;
}
.sub_sale {
  width: 100%;
  height: 100%;
}
.sub_sale > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sub_sale > ul > li {
  width: calc(100% / 2 - 1px);
  height: calc(100% / 2 - 4px);
  margin-bottom: 2px;
  position: relative;
}
.main_sale:hover > .main-hover > a {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2vw;
  color: #fff;
  position: relative;
}
.main_sale:hover > .main-hover > a > div {
  display: flex;
  align-items: flex-end;
  gap: 0.4vw;
}
.main_sale:hover > .main-hover > a > div > h1 {
  font-size: 2.2vw;
  font-weight: 900;
  color: #fdff83;
}
.main_sale:hover > .main-hover > a > div > h1 > small {
  font-weight: 600;
}
.main_sale:hover > .main-hover > a > div > p {
  font-size: 1.4vw;
}
.main_sale:hover > .main-hover > a > h2 {
  padding-top: 1.3vw;
}

.sub_sale > ul > li:hover > .sub-hover > a {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1vw;
  color: #fff;
  position: relative;
}
.sub_sale > ul > li:hover > .sub-hover > a > div {
  display: flex;
  align-items: flex-end;
  gap: 0.2vw;
}
.sub_sale > ul > li:hover > .sub-hover > a > div > h1 {
  font-size: 1.2vw;
  font-weight: 600;
  color: #fdff83;
  font-family: "Noto Sans KR", sans-serif;
}
.sub_sale > ul > li:hover > .sub-hover > a > div > h1 > small {
  font-weight: 600;
}
.sub_sale > ul > li:hover > .sub-hover > a > div > p {
  font-size: 0.9vw;
  font-family: "Noto Sans KR", sans-serif;
}
.sub_sale > ul > li:hover > .sub-hover > a > h2 {
  padding-top: 1.3vw;
  font-family: "Noto Sans KR", sans-serif;
}
.sub_sale > ul > li:hover > .sub-hover > a {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1vw;
  color: #fff;
  position: relative;
  display: block;
}
.main_sale:hover > .main-hover {
  font-family: "Noto Sans KR", sans-serif;
  padding: 2vw;
  font-size: 2vw;
  color: #fff;
  position: absolute;
  z-index: 99;
}
.sub_sale > ul > li:hover > .sub-hover {
  font-family: "Noto Sans KR", sans-serif;
  padding: 1.3vw;
  font-size: 1.3vw;
  color: #fff;
  position: absolute;
  z-index: 99;
}
.main_sale:hover > .main-hover,
.sub_sale > ul > li:hover > .sub-hover {
  background-color: rgba(0, 0, 0, 0.397);
}
.main_sale > .main-hover,
.sub_sale > ul > li > .sub-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
}
.main_sale > a,
.sub_sale > ul > li > a {
  width: 100%;
  display: block;
  display: flex;
  overflow: hidden;
  position: relative;
}
.main_sale > a > img,
.sub_sale > ul > li > a > img {
  width: 100%;
}

/* 이번달 이벤트 */
.event-section {
  height: 55vw;
  max-height: 750px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  gap: 1vw;
  padding: 0 3vw;
  margin-top: 10vw;
}
.event-section > .event-left {
  width: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}
.event-section > .event-left > .title {
  height: 50%;
  align-content: center;
  text-align: left;
  /* background-color: azure; */
  padding: 0;
  padding-left: 4vw;
}
.event-section > .event-left > .title > h1 {
  margin-bottom: 10px;
}
.event-banner-s {
  height: 100%;
  background-color: #fee500;
  display: flex;
  align-items: center;
}
.event-banner-s > a {
  width: 100%;
}
.event-banner-s a img {
  width: 100%;
}
.event-section > .event-right {
  width: 100%;
}
.event-banner-l {
  height: 100%;
  width: 100%;
}
/* 반응형 */
@media screen and (max-width: 1200px) {
  .event > .inner > .menu-title-wrap {
    padding-top: 80px;
    height: 230px;
  }
}
@media screen and (max-width: 802px) {
  .recommend .title p {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .event > .inner > .menu-title-wrap {
    padding-top: 80px;
  }
  .event > .inner > .menu-title-wrap > .menu-title {
    font-size: 40px;
  }
  .event > .inner > .menu-title-wrap > p {
    font-size: 12px;
  }
  .title p {
    font-size: 12px;
  }
}
.title > h1 {
  font-size: 35px;
}
.title > p {
  line-height: 20px;
}
@media screen and (max-width: 600px) {
  .event > .inner > .menu-title-wrap > p {
    display: none;
  }
  .event .inner .menu-title-wrap {
    height: 150px;
  }
  .event.active {
    margin-top: 90px;
  }
}
@media screen and (max-width: 450px) {
  .event > .inner > .menu-title-wrap > .menu-title {
    font-size: 30px;
  }
  .event > .inner > .menu-title-wrap {
    height: 100px;
    padding-top: 30px;
  }
  .title > h1 {
    font-size: 25px;
  }
  .sub_sale > ul > li {
    display: block;
    width: calc(100% / 2);
    height: calc(100% / 2);
  }
  .products > .main_sale > a {
    display: block;
    width: 100%;
  }
  .recommend-month {
    display: block;
    width: 80%;
    height: 120px;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 35px;
  }
  .tMT {
    transform: 0;
    border-radius: 30px 30px 0 0;
    animation: none;
    border: 1px solid #fff;
  }
  .tMF {
    transform: 0;
    animation: none;
    transform: translateY(-80%);
    border: 1px solid #fff;
  }

  .tMO {
    transform: 0;
    border-radius: 0 0 30px 30px;
    animation: none;
    border: 1px solid #fff;
  }

  .recommend-month > div {
    height: calc(100% / 3);
    background-color: #034934;
    margin: 0 auto;
    width: 100%;
  }
  .recommend {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 60px;
  }

  .recommend > .title > p {
    font-size: 13px;
  }
  .recommend > .title > h1 {
    font-size: 20px;
  }
  .event-left > .title > p {
    font-size: 13px;
    height: 40px;
  }
  .event-left > .title > h1 {
    font-size: 20px;
  }
  .recommend > .products {
    flex-wrap: wrap;
  }
  .event-section {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
