@charset "utf-8";
.footer {
  margin-top: 105px;
  color: #034934;
  font-family: "Noto Sans KR", sans-serif;
  background-color: rgba(0, 0, 0, 0.03);
}
.upper-footer {
  width: 100%;
  height: 120px;
  font-size: 17px;
}
.upper-footer .inner {
  position: relative;
  height: 100%;
}
.footer-nav {
  width: 485px;
  display: flex;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.footer-nav > li {
  padding-left: 40px;
}
.footer-nav li a {
  color: #034934;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 17px;
}
.footer-nav li:nth-child(2) a {
  font-weight: bold;
}
.footer-sns {
  display: flex;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.footer-sns > li {
  padding-right: 40px;
}
.lower-footer {
  font-size: 16px;
  height: auto;
}
.lower-footer::after {
  content: "";
  display: block;
  clear: both;
}

.footer-info {
  width: 100%;
  float: left;
  width: calc(100% - 440px);
}
.footer-info img {
  height: 110px;
  margin-left: 40px;
}
.footer-info p {
  margin-top: 15px;
  margin-left: 40px;
  line-height: 1.3;
}
.footer-info p span {
  margin-right: 10px;
}
.footer-info p:last-child {
  margin-top: 5px;
  color: #83998b;
}
.footer-contact {
  width: 360px;
  margin: 40px;
  float: right;
  background: #eff2f1;
  padding: 30px 35px;
}
.footer-contact p:nth-child(3) {
  font-size: 14px;
  margin-bottom: 20px;
}
.footer-contact p:last-child {
  margin-top: 10px;
}
.contact-bold {
  font-weight: bold;
  font-size: 17px;
  margin-right: 10px;
}
.contact-ph {
  font-size: 37px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 4px;
}

@media screen and (max-width : 1200px){
  .footer .inner{
    padding: 0 20px;
  }
  .footer-info  p, .footer-info  a{
    font-size: 12px;
  }
  .upper-footer{
    height: auto;
  }
  .upper-footer .inner{
    margin-bottom: 50px;
    padding-top: 30px;
  }
  .footer-nav{
    clear: both;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }
  .footer-sns{
    clear: both;
    position: relative;
    right: auto;
    top: auto;
    transform: none;
    margin-top: 30px;
    /* margin-bottom: 50px; */
  }
  .footer-sns li{
    padding-left: 40px;
    padding-right: 0;
  }
  .footer-info, .footer-contact{
    display: block;
    float: none;
    width: 100%;
  }
  .footer-info img{
    /* padding: 0 20px; */
    margin: 0;
  }
  .footer-info p{
    /* padding-left: 20px; */
    margin: 0;
  }
  
  /* .contact-bold{
    margin-right: 0;
  }
  .footer-info p span{
    margin-right: 0;
  } */
   .footer-contact{
    margin: 20px 0 20px 0 ;
   }
}
@media screen and (max-width : 500px){
.footer-nav{
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-nav > li{
  width: 50%;
  text-align: center;
  padding: 15px 0;
  color: white;
  background-color: #034934;
  border-bottom: 0.3px solid white;
  border-right: 0.3px solid white;
}
.footer-nav > li >a {
  color: white;
}
.upper-footer .inner{
  padding: 0;
}
.contact-ph{
  font-size: 25px;
}
.footer-contact p:nth-child(3){
  font-size: 12px;
}
}