@charset "utf-8";
.header {
  width: 100%;
  position: relative;
  height: 110px;
  color: #034934;

  background-color: rgba(255, 255, 255, 1);

  transition: top 0.3s ease-in-out; /* 부드럽게 숨기고 나타나도록 설정 */
  top: 0;
  z-index: 99999;
}

.mobile-header-nav {
  display: none;
  position: relative;
}
.mobile-arrow{
  width: 25px;
  height: 25px;
position: absolute;
right: 8px;
top: 27px;
cursor: pointer;
}
.header-close {
  display: none;
}
.header.active {
  height: 90px;
  position: fixed;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px); /* 배경을 흐리게 설정 */
}
.nav-close {
  display: none;
}
.header.hide {
  visibility: hidden;
}
.header .inner {
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
}
.header a {
  color: #034934;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.header-logo {
  margin-top: 6px;
  height: 90%;
  width: 209.38px;
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  padding-right: 30px;
  margin-left: 15px;
  background-image: url("../images/logo/planteat-text-logo.png");
}
/* .header-logo img {
  height: 100%;
  width: auto;
} */
.header-nav {
  width: 560px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
}
.header-nav li{
  height: 100%;
  align-content: center;
}
.header-nav li a{
  position: relative;
}
/* 마우스 오버 시 하단 줄 */
.header-nav li a::after {
  content: ''; /* 가상 요소를 비워둠 */
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px; /* 텍스트 아래에 위치 */
  height: 2px; /* 줄 두께 */
  background-color: #034934; /* 줄 색상 */
  transform: scaleX(0); /* 기본 상태: 줄이 보이지 않도록 설정 */
  transform-origin: center; /* 줄이 중앙에서 확장되도록 설정 */
  transition: transform 0.3s ease-in-out; /* 서서히 나타나는 효과 */
}

/* 마우스를 올렸을 때 줄이 나타남 */
.header-nav li a:hover::after {
  transform: scaleX(1); /* 마우스를 올렸을 때 줄이 100%로 확장됨 */
}
.about-us{
  
  display: none;
  flex-direction: column;
  font-size: 16px;
  /* padding-bottom: 10px; */
  background-color: white;
  transition: all 0.3s ease;
  position: absolute;
  top: 110px;
}
.about-us.active{
  top: 90px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px); /* 배경을 흐리게 설정 */
}
.about-us li:hover{
  background-color: #034934;
}
.about-us li:hover a{
  color: white;
}
.about-us li{
  padding: 10px;
}
.about-us li a{
  font-size: 16px;
}
.header-nav li:hover ul{
  display: flex;
}
.header-nav li ul.active{
  top: 90px;
}
.header-right {
  float: right;
  display: flex;
  width: 400px;
  
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.header-right li:first-child , .header-right li:nth-child(n+3) {
  padding-right: 25px;
}
.header-right li:first-child {
  width: calc(100% - 110px);
}
.header-search {
  position: relative;
  width: 100%;
}
.header-search input {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #eff2f1;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 55px;
  font-family: "Noto Sans KR", sans-serif;
  outline: none;
}
.header-search img {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 20px;
  top: 12.5px;
}
.mobile-search {
  display: none;
  background-image: url("../images/icons/top-search.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
}
.header-right a img {
  height: 30px;
}
.nav-pop {
  visibility: hidden;
}
.mobile-search-bar{
  display: none;
}
.mobile-header-logo{
  display: none;
}
.nav-pop-inner{
  display: none;
}



@media screen and (max-width: 1200px) {
  .mobile-header-logo{
    display: block;
    width: 150px;
  }
  .mobile-header-logo img{
    width: 100%;
  }
  .mobile-search-bar {
    display: block;
    background-color: rgba(3, 73, 52, 0.98);
    padding: 10px;
    position: relative;
    height: 60px;
    opacity: 0; /* 투명도를 0으로 설정해서 처음에 안 보이게 */
    transform: translateY(-20px); /* 살짝 위로 이동한 상태로 시작 */
    transition: opacity 0.3s ease, transform 0.3s ease; /* 부드러운 애니메이션 */
    visibility: hidden; /* 요소가 사라진 상태에서 공간도 차지하지 않도록 */
  }
  .mobile-search-bar.active {
    opacity: 1; /* 투명도를 1로 변경해서 보이게 함 */
    transform: translateY(0); /* 제자리로 이동 */
    visibility: visible; /* 보이게 설정 */
  }
  .mobile-src-bar {
    position: relative;
  }
  .mobile-src-bar input {
    width: 80%;
    max-width: 330px;
    height: 40px;
    border: none;
    background-color: #eff2f1;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 50px;
    position: absolute;
    right: 50px;
    outline: none;
    font-family: "Noto Sans KR", sans-serif;
  }
  .mobile-src-bar img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 7.5px;
    right: 65px;
  }
  .mobile-search-bar button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: transparent;
    border: none;
  }
  .mobile-search-bar button img {
    width: 100%;
  }
  .header-nav {
    display: none;
  }
  .mobile-header {
    position: fixed;
    top: 0;
    right: 100%;
    width: 300px;
    height: 100vh;
    background-color: rgba(3, 73, 52, 1);
    z-index: 999999;
    padding: 50px;
    transition: all 0.3s ease-in-out;
  }
  .header-close {
    display: block;
    width: 23px;
    height: 23px;
    color: transparent;
    background-image: url("../images/icons/close.png");
    background-color: transparent;
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 50px;
    top: 50px;
  }
  .mobile-header-active {
    right: calc(100% - 300px);
  }
  .nav-pop-inner{
    display: block;
    width: 50px;
    float: left;
    height: 100%;
    display: flex;
    margin-left: 25px;
    align-items: center;
  }
  .nav-pop {
    visibility: visible;
    /* float: left; */
    background-color: transparent;
    background-image: url("../images/icons/menu-mo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    border: none;
    display: inline;
    /* margin: 25px; */
    cursor: pointer;
  }

  .mobile-header-nav {
    width: 70%;
    display: flex;
    flex-direction: column;
    top: 130px;
    position: absolute;
  }
  .mobile-header-nav > li {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    
  }
  .mobile-header-nav li a {
    color: white;
    font-size: 16px;
  }
  .mobile-header-nav li p{
    color: white;
    font-family: "Oswald", sans-serif;
  }
  .header-right {
    width: 165px;
  }

  .header-right li:first-child {
    display: none;
  }
  .header-right li:nth-child(2){
    padding-right: 25px;
  }
  .mobile-search {
    display: inline-block;
  }

  .mobile-about-us{
    display: none;
  }
  .mobile-about-us li{

    padding-top: 20px;
    padding-left: 10px;
  }
  .mobile-about-us.active{
    display: flex;
    flex-direction: column;
  }
  
}
@media screen and (max-width: 600px) {
  
  .nav-pop {
    visibility: visible;
    width: 50px;
    height: 50px;
    /* margin-top: 15px; */
    cursor: pointer;
  }
  .header{
    height: 90px;
  }
  .header-logo {
    height: 80%;
    margin-top: 11px;
    padding-right: 0;
    width: 150.45px;
  }
  /* .header-right li:first-child {
    display: none;
  } */

}
@media screen and (max-width:420px){
  .header .inner > a > img{
    display: none;
  }
  .header-logo{
    background-image: url("../images/logo/034934logo.png");
    width: 40px;
    margin-top: 25px;
    height: 40px;
  }

}