@charset "utf-8";
.header {
  width: 100%;
  position: relative;
  height: 110px;
  color: #034934;

  background-color: rgba(255, 255, 255, 1);

  transition: top 0.3s ease-in-out; /* 부드럽게 숨기고 나타나도록 설정 */
  top: 0;
  z-index: 99999;
}

.mobile-header-nav {
  display: none;
}
.header-close{
  display: none;
}
.header.active {
  background-color: rgba(255, 255, 255, 0.5);
  height: 90px;
  position: fixed;
  z-index: 99999;
}
.header.hide {
  visibility: hidden;
}
.header .inner {
  height: 100%;
  position: relative;
  align-items: center;
}
.header a {
  color: #034934;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.header-logo {
  height: 100%;
  width: auto;
  float: left;
  padding-right: 30px;
}
.header-logo img {
  height: 100%;
  width: auto;
}
.header-nav {
  width: 560px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
}
.header-right {
  float: right;
  display: flex;
  width: 400px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.header-right li {
  padding-right: 25px;
}
.header-right li:first-child {
  width: calc(100% - 130px);
}
.header-search {
  position: relative;
  width: 100%;
}
.header-search input {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #eff2f1;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 40px;
}
.header-search img {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 10px;
  top: 12.5px;
}
.mobile-search {
  display: none;
  background-image: url("../images/icons/top-search.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
}
.header-right a img {
  height: 40px;
}
@media screen and (max-width: 1200px) {
  .header-nav {
    display: none;
  }
  .mobile-header {
    position: fixed;
    top: 0;
    right: 100%;
    width: 300px;
    height: 100vh;
    background-color: rgba(3, 73, 52, 1);
    z-index: 999999;
    padding: 50px;
    transition: all 0.3s ease-in-out;
  }
  .header-close {
    display: block;
    width: 23px;
    height: 23px;
    color: transparent;
    background-image: url("../images/icons/close.png")  ;
    background-color: transparent;
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 50px;
    top: 50px;
  }
  .mobile-header-active {
    right: calc(100% - 300px);
  }
  .nav-pop {
    float: left;
    background-color: transparent;
    background-image: url("../images/icons/menu-mo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    border: none;
    display: inline;
    margin: 15px;
  }

  .mobile-header-nav {
    width: 70%;
    display: flex;
    flex-direction: column;
    top: 100px;
    position: absolute;
  }
  .mobile-header-nav li{
    width: 100%;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
  }
  .mobile-header-nav li a {
    color: white;
  }
  .header-right {
    width: 195px;
  }

  .header-search {
    display: none;
  }
  .mobile-search {
    display: inline-block;
  }
}
