@charset "utf-8";
/* 폰트 */
/* "Oswald", sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
/* "Noto Sans KR", sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
/* css 연결 */
@import url("header.css");
@import url("footer.css");
@import url("index.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Oswald", sans-serif;
}
.inner {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: #000;
}
.menu-title-wrap {
  width: 100%;
  height: 300px;
  padding-top: 130px;
  text-align: center;
}
.menu-title {
  color: #034934;
  font-weight: 700;
  font-size: 50px;
}
.menu-subtitle {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}
