@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("prducts/prducts1.css");

/*prducts 제목  */
.menu-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 10px;
}
.menu-subtitle {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
}

/*prducts 카테고리  */
.icon-button {
  border: none;
  background-color: none;
  /* width: 95px;
  height: 75%; */
  padding: 7%;
  float: left;
  outline: none;
  background-color: transparent;
  filter: brightness(0);
  opacity: 0.25;
}
.icon-button img {
  width: 100%;
  height: 100%;
}
.icon-button.active {
  filter: brightness(1);
  opacity: 1;
}
.prducts-icon {
  display: flex;
  width: 60%;
  max-width: 480px;
  gap: 25px;
  margin: 80px auto;
}
.prducts-icon > li {
  width: calc(100% / 4);
}
.prducts-icon > li > button > p {
  font-size: 13px;
  font-weight: 1000;
  color: #034934;
}
#prducts-xilk-tet {
  color: #ff642c;
}
.mobile-cate-title {
  text-align: center;
  font-size: 5vw;
}
#xilk-color {
  color: #ff642c;
}
.mobile-cate-title {
  display: none;
}
.mobile-cate-title > h1 {
  display: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  padding-bottom: 11vw;
  color: #034934;
}
.mobile-cate-title > h1.active {
  display: block;
}

/* prducts 공통영역 */
.card {
  margin-bottom: 20px;
  width: 100%;
  padding: 0 20px;
  /* background-color: aqua; */
}
.card > ul {
  display: flex;
  width: 100%;
  gap: 20px;
}
.card > ul > li {
  width: 100%;
}
.card .txt-wrap {
  width: 100%;
  height: 10vw;
  /* background-color: aqua; */
  padding: 1.4vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .txt-wrap .price-wrap {
  display: flex;
  gap: 0.6vw;
}

/* prducts list */

.prducts {
  display: flex;
}
.prducts img {
  /* width: calc(100% / 4); */
  width: 100%;
  height: 100%;
  /* margin: 0 10px; */
  display: flex !important;
}
.prducts > ul {
  margin-left: 10px;
}

.prducts-name {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 800;
  font-size: 1.4vw;
}
.prducts-pice {
  color: #000;
  font-size: 25px;
}
.item-img {
  width: 100%;
  font-size: 20px;
}
.or-pice {
  font-size: 1.4vw;
  color: #a0a0a0;
  text-decoration: line-through;
}
.o-pice {
  font-size: 1.4vw;
  color: #ff642c;
  position: absolute;
  right: 0;
  bottom: 20px;
}
.p-pice {
  font-weight: bold;
  color: #000;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  font-size: 1.6vw;
}

/* 장바구니 버튼 */
.item-bt {
  position: relative;
}
.item-bt a {
  display: block;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.prducts .shop_basket {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
}
/* .prducts-xilk */
.prducts-xilk {
  justify-content: center;
  /* display: flex; */
  display: none;
}
.xilk {
  width: calc(100% / 4);
}
.card.active {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* prducts-mayo */
.prducts-moyo {
  display: none;
}
.mayo {
  width: calc(100% / 4);
}

/* prducts-Snack  */
.prducts-Snack {
  /* display: flex;
  justify-content: center; */
  display: none;
  /* flex-wrap: wrap; */
}
.scon,
.creker,
.creker-mini,
.cookie {
  width: calc(100% / 4);
}
.prducts-Snack > ul {
  margin-bottom: 20px;
}
/* prducts-protein  */
.prducts-protein {
  /* display: flex;
  justify-content: center; */
  display: none;
}
.protein {
  width: calc(100% / 4);
  /* height: 100%; */
}

.protein > li {
  /* line-height: 30px; */
  color: #000;
}
.protein > li > .p-pice {
  padding-top: 7px;
}
@media screen and (max-width: 1500px) {
  .card .txt-wrap .price-wrap {
    flex-direction: column;
  }
  
}
@media screen and (max-width: 802px) {
  .mobile-cate-title {
    display: block;
  }
  .prducts-icon {
    margin: 80px auto 20px;
}
}
@media screen and (max-width: 600px) {
  .mobile-cate-title > h1 {
    padding-bottom: 11vw;
  }
  .card .txt-wrap .price-wrap {
    flex-direction: column;
    gap: 1vw;
  }
  .card > ul {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-direction: column;
  }
  .card .txt-wrap {
    width: 100%;
    height: 30vw;
    /* background-color: aqua; */
    padding: 3vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .prducts-name {
    font-size: 5.4vw;
  }
  .or-pice {
    font-size: 5.4vw;
    color: #a0a0a0;
    text-decoration: line-through;
  }
  .o-pice {
    font-size: 5.4vw;
  }
  .p-pice {
    font-size: 6.6vw;
  }
}
