@charset "utf-8";

/*prducts 카테고리  */
.prducts-main button {
  border: none;
  background: none;
  width: 120px;
  height: 100px;
  float: left;
}
.prducts-icon {
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
}
.prducts-main button > img {
  width: 100%;
  height: 100%;
}
.prducts-icon > li > button > p {
  font-size: 15px;
  font-weight: 1000;
  color: #034934;
}
#prducts-xilk-tet {
  color: #ff642c;
}

/* prducts list */
.prducts{
  display: flex;
}
.prducts img {
  /* width: calc(100% / 4); */
  width: 100%;
  height: 100%;
  margin: 0 10px;
  /* display: flex !important; */
}
.prducts-name {
  font-size: 20px;
  margin-left: 20px;
}
.prducts-pice {
  margin-left: 20px;
  color: #000;
  font-size: 25px;
}
.item-img {
  width: 100%;
  font-size: 20px;
}

/* 장바구니 버튼 */
.item-bt {
  position: relative;
}
.item-bt a {
  display: block;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.prducts .shop_basket {
  position: absolute;
  right: 0px;
  bottom: 10px;
  width: 50px;
  height: 50px;
}
/* .prducts-xilk */
.prducts-xilk {
  width: 25%;
  position: relative;
  margin: auto;
}

.prducts-xilk .item-img a img {
  width: 100%;
}

/* prducts-mayo */
.prducts > .prducts-moyo {
display: flex;
}
.mayo{
width: 25%;
}
.prducts-moyo > ul {
  margin-left: 10px;
}


/* prducts-Snack  */

/* prducts-protein  */
.prducts >.prducts-protein {
  display: flex;
}
.protein{
  width: 25%;
}
.prducts-protein > ul {
  margin-left: 10px;
}
.protein > .item-img {
  margin-bottom: 10px;

}

.protein > li {
  line-height: 20px;
  color: #000;
}
.or-pice {
  font-size: 12px;
  color: #a0a0a0;
  text-decoration: line-through;
  padding: 10px 5px 10px 20px;
  float: left;
}
.o-pice {
  font-size: 18px;
  float: right;
  padding: 10px;
  color: #ff642c;
}
.p-pice {
  font-size: 20px;
  padding: 30px 0px 0px 0px;
  float: left;
  font-size: 25px;
  font-weight: bold;
  color: #000;
}
/* 카테고리별 전시 */
.prducts-xilk {
  /* display: block; */
  display: none;
}
.prducts-moyo {
  /* display: block; */
  display: none;
}
.prducts-Snack {
  /* display: block; */
  display: none;
}
.prducts-protein {
  display: block;
  /* display: none; */
}

@media screen and();
