@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("prducts/prducts1.css");

/*prducts 카테고리  */
.icon-button {
  border: none;
  background-color: none;
  /* width: 95px;
  height: 75%; */
  padding: 7%;
  float: left;
  outline: none;
  background-color: transparent;
  filter: brightness(0);
}
.icon-button img {
  width: 100%;
  height: 100%;
}
.icon-button.active {
  filter: brightness(1);
}
.prducts-icon {
  display: flex;
  width: 60%;
  max-width: 480px;
  gap: 25px;
  margin: 80px auto;
}
.prducts-icon > li {
  width: calc(100% / 4);
}
.prducts-icon > li > button > p {
  font-size: 13px;
  font-weight: 1000;
  color: #d10606;
}
#prducts-xilk-tet {
  color: #ff642c;
}

/* prducts list */
.prducts {
  display: flex;
}
.prducts img {
  /* width: calc(100% / 4); */
  width: 100%;
  height: 100%;
  margin: 0 10px;
  display: flex !important;
}
.prducts > ul {
  margin-left: 10px;
}

.prducts-name {
  font-size: 20px;
  margin-left: 20px;
}
.prducts-pice {
  margin-left: 20px;
  color: #000;
  font-size: 25px;
}
.item-img {
  width: 100%;
  font-size: 20px;
}
.or-pice {
  font-size: 18px;
  color: #a0a0a0;
  text-decoration: line-through;
  padding: 10px 5px 10px 20px;
  float: left;
}
.o-pice {
  font-size: 20px;
  float: right;
  padding: 10px;
  color: #ff642c;
}
.p-pice {
  font-size: 20px;
  padding: 0px 0px 0px 0px;
  float: left;
  font-size: 25px;
  font-weight: bold;
  color: #000;
}

/* 장바구니 버튼 */
.item-bt {
  position: relative;
}
.item-bt a {
  display: block;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.prducts .shop_basket {
  position: absolute;
  right: 0px;
  bottom: 10px;
  width: 50px;
  height: 50px;
}
/* .prducts-xilk */
.prducts-xilk {
  justify-content: center;
  /* display: flex; */
  display: none;
}
.xilk {
  width: calc(100% / 4);
}
.prducts-xilk > ul {
  margin-left: 10px;
}
.card.active {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* prducts-mayo */
.prducts-moyo {
  display: none;
}
.mayo {
  width: calc(100% / 4);
}
.prducts-moyo > ul {
  margin-left: 10px;
}

/* prducts-Snack  */
.prducts-Snack {
  /* display: flex;
  justify-content: center; */
  display: none;
  /* flex-wrap: wrap; */
}
.scon,
.creker,
.creker-mini,
.cookie {
  width: calc(100% / 4);
}
.prducts-Snack > ul {
  margin-left: 10px;
}
/* prducts-protein  */
.prducts-protein {
  /* display: flex;
  justify-content: center; */
  display: none;
}
.protein {
  width: calc(100% / 4);
  height: 100%;
}
.prducts-protein > ul {
  margin-left: 10px;
}

.protein > li {
  line-height: 30px;
  color: #000;
}
.protein > li > .p-pice {
  padding-top: 7px;
}
