@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("product_page_xilk-scroll.css");
.main_p-page {
  width: 100%;
  display: flex;
  padding: 0 3vw;
}

/* 상단 좌측 */
.main_p-page > .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.35vw;
}
.main_p-page > .left > .main_img {
  width: 100%;
}
.main_p-page > .left img {
  width: 100%;
}

.sub_img-wrap {
  width: 100%;
  max-width: 400px;
}
.sub_img-wrap > .sub_img-list {
  width: 100%;
  display: flex;
  gap: 0.5vw;
}
.sub_img-wrap > .sub_img-list > li {
  width: 100%;
}

/* 상단 우측 */
.main_p-page > .right {
  width: 100%;
  padding: 2vw 3vw;
}
.main_p-page > .right > .title > h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 35px;
  font-weight: 800;
  color: #034934;
}
.main_p-page > .right > .title > p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ff642c;
  padding-top: 1vw;
}
/* 상단 우측 가격 */
.main_p-page > .right > .price {
  display: flex;
  justify-content: space-between;
  margin-top: 3vw;
  align-items: flex-end;
}
.main_p-page > .right > .price > .p-wrap {
  display: flex;
  align-items: flex-end;
  gap: 0.8vw;
}
.p-wrap > .oPt {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 27px;
  font-weight: 600;
  color: rgb(194, 194, 194);
  text-decoration: line-through;
}
.p-wrap > .dPt {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.sale_p {
  color: #ff642c;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 25px;
}

/* 상단 가격 총합 및 개수 */
.count {
  width: 100%;
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 4vw;
  padding: 1.3vw 0;
  align-items: center;
  justify-content: space-between;
}
.product-txt {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}
.count > .count_box {
  display: flex;
}
.count > .count_box > button {
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 1px solid #ccc;
  font-size: 23px;
}
.count > .count_box > .num {
  width: 40px;
  border-radius: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  text-align: center;
  padding-top: 4px;
}

/* 상단 우측 택배 배송 */
.delivery {
  width: 100%;
  padding: 0.5vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delivery > .d-info-wrap > .d-info {
  display: flex;
  gap: 0.3vw;
  align-items: center;
}
.delivery > .d-info-wrap > .d-info > .delivery-icon {
  width: 25px;
}
.delivery > .d-info-wrap > .d-info > .delivery-icon > img {
  width: 100%;
}
.delivery p {
  font-family: "Inter", "pretendard", sans-serif !important;
  font-size: 14px;
}
.delivery p strong {
  font-weight: 700;
  font-family: "Inter", "pretendard", sans-serif !important;
}
/* 첫구매 할인 쿠폰 */
.first_coupon {
  font-family: "Noto Sans KR", sans-serif;
  padding: 5px 10px;
  margin-top: 0.3vw;
}
#coupon-discount {
  color: #ff2c2c;
}
/* 총 가격 및 결재 */
.pay {
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.pay_price {
  margin: 1vw 0;
  display: flex;
  justify-content: space-between;
}
.p_menu {
  width: 100%;
  display: flex;
  gap: 0.3vw;
  height: 50px;
}
.p_menu > button {
  width: 27.5%;
  border-radius: 0;
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
}
.p_menu > .payNow {
  width: 45%;
  background-color: #034934;
  color: #fff;
}
/* 간편구매 */
.another_pay {
  width: 100%;
  display: flex;
  gap: 0.3vw;
  flex-direction: column;
  border: 1px solid #00000000;
}
.naver_pay,
.kakao_pay {
  width: 44%;
  border-radius: 0;
  border: 1px solid #ccc;
  height: 50px;
}

/* 상품 정보 메뉴 */
.info_p-page {
  width: 100%;
  /* background-color: aqua; */
  padding: 10vw 3vw 0;
}
.p-info_menu {
  /* background-color: chartreuse; */
  border-top: 2px solid #000;
}
.p-info_list {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-info_list > li {
  width: 100%;
  height: 100%;
  border: 1px solid #00000033;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000010;
}
.p-info_list > li.active {
  border: 1px solid #00000000;
  border-top: 1px solid #00000033;
  border-left: 1px solid #00000033;
  border-right: 1px solid #00000033;
  background-color: #fff;
}

/* 상품 상세 */
.p-detail {
  width: 100%;
}
.p-detail > h1 {
  font-weight: 600;
  padding: 0.5vw 0;
  font-family: "Noto Sans KR", sans-serif;
}
.p-detail > ul {
  display: flex;
  flex-wrap: wrap;
}
.p-detail > ul > li {
  padding: 0.5vw;
  width: 50%;
  display: flex;
  border-top: 1px solid #cccccc6e;
}
.p-detail > ul > li > p {
  width: 30%;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}

/* 상품 정보 메인 페이지(이미지) */
.p-m-info {
  width: 100%;
  background-color: #ff642c;
  max-width: 800px;
  margin: 0 auto;
  height: 1000px;
}

/* 상품 리뷰 */
.p-review {
  width: 100%;
}
.p-review > .best-review {
  width: 100%;
  padding: 0;
}
.best-review-list {
  width: 100%;
  /* border-top: 2px solid #00000025; */
  /* border-bottom: 1px solid #00000088; */
}
.best-review-list > li {
  padding-top: 15px;
  border-bottom: 1px solid #00000050;
  padding-bottom: 50px;
}
/* 유저 정보 및 프로필 */
.best-review-list > li > .users-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.best-review-list > li > .users-wrap > .user-profile {
  display: flex;
  align-items: center;
  gap: 7px;
}
.best-review-list > li > .users-wrap > .user-profile > .profile_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #00000017;
}
.best-review-list > li > .users-wrap > .user-profile > .profile_img > img {
  width: 100%;
}
.best-review-list > li > .users-wrap > .user-profile > .name > h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}
.best-review-list > li > .users-wrap > .user-profile > .name > p {
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  padding-top: 2px;
  color: #0000009c;
}
/* 리뷰 날짜 */
.best-review-list > li > .users-wrap > .user-cart-info > .day {
  font-family: "Noto Sans KR", sans-serif;
  text-align: right;
}
/* 리뷰 상품 */
.best-review-list > li > .users-wrap > .user-cart-info > .p-name {
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  text-align: right;
  padding-top: 5px;
  color: #000000b9;
}

.best-review-list > li > .img-wrap {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.best-review-list > li > .img-wrap > img {
  width: 100%;
}
/* 리뷰 제목 */
.best-r-title {
  width: 100%;
  margin: 10px 0 10px;
}
.best-r-title > h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
/* 별점 */
.best-r-title > .score {
  color: #ff9900;
  margin-top: 7px;
  font-size: 20px;
}
.best-r-title > .score {
  position: relative;
  display: flex;
  gap: 1px;
}
.discount_star {
  color: #cccccc;
}
/* 리뷰 택스트 */
.best-review-text {
  width: 100%;
  font-size: 14px;
  padding: 10px 0;
  line-height: 20px;
  font-family: "Noto Sans KR", sans-serif;
}
.best-review-text > h1 {
  font-size: 14px;
  font-weight: 600;
  color: #0000009c;
}
.best-review-text > span {
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
  color: #00000088;
  font-family: "Noto Sans KR", sans-serif;
  display: block;
  position: relative;
}

/* 상품문의 */
.p-info_ask {
  width: 100%;
}
.p-info_ask > .qna-list {
  width: 100%;
}
.p-info_ask > .qna-list > li {
  width: 100%;
  border-bottom: 1px solid #000000;
}
.p-info_ask > .qna-list > li > .question,
.p-info_ask > .qna-list > li > .ask {
  width: 100%;
  padding: 1vw 0;
  display: flex;
  justify-content: space-between;
}
.p-info_ask > .qna-list > li > .ask {
  border-top: 1px solid #00000028;
}
.p-info_ask > .qna-list > li > .question > .q-user {
  background-color: #ccc;
  display: block;
  position: relative;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 1vw;
}
.p-info_ask > .qna-list > li > .ask > .a-company {
  background-color: #034934;
  display: block;
  position: relative;
  width: 50px;
  height: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 1vw;
}
.p-info_ask > .qna-list > li > .ask > .under-icon {
  padding: 0 1vw;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  width: 40px;
  font-size: 20px;
  color: #00000088;
}
.p-info_ask > .qna-list > li > .question > .q-text,
.p-info_ask > .qna-list > li > .ask > .a-text {
  padding-left: 1vw;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  line-height: 20px;
  width: calc(70% - 50px);
}
/* 문의 글쓴이 이름 */
.p-info_ask > .qna-list > li > .question > .q-text > .q-user-name,
.p-info_ask > .qna-list > li > .ask > .a-text > .a-company-name {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 5px;
}
/* 문의 질문/답변 내용 */
.p-info_ask > .qna-list > li > .question > .q-text > .q-u-text,
.p-info_ask > .qna-list > li > .ask > .a-text > .a-c-text {
  padding-left: 10px;
}
.q-user-info,
.a-company-info {
  width: 30%;
}
/* 상품 문의 날짜 */
.q-user-info > .day,
.a-company-info > .day {
  font-family: "Noto Sans KR", sans-serif;
  text-align: right;
}
/* 상품 문의 상품 */
.q-user-info > .q-p-name {
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  text-align: right;
  padding-top: 5px;
  color: #000000b9;
}

/* 구매 안내 */
.buy-info {
  width: 100%;
}
.buy-info h1 {
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  padding: 20px 30px;
  background-color: #00000010;
  cursor: pointer;
}
.buy-info p {
  color: #0000009c;
  padding: 6px 10px;
  font-family: "Noto Sans KR", sans-serif;
}
.buy-info p > strong {
  font-weight: 700;
}
.buy-info .p-wrap {
  padding: 20px 10px;
}
.p-m-info .buy-info > .delivery-info {
  width: 100%;
}
.return-policy-info > .p-wrap p {
  padding-top: 30px;
}
.red-imfortant {
  font-family: "Noto Sans KR", sans-serif;
  padding: 6px 10px;
  color: #da00009c;
  font-weight: 700;
}
#etx {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  padding: 6px 10px;
  color: #0000009c;
}
@media screen and (max-width: 880px) {
  .main_p-page {
    display: flex;
    flex-direction: column;
  }
  .delivery {
    padding: 3vw 0;
  }
  .pay_price {
    margin: 3vw 0;
  }
  .main_p-page > .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
  }
}
@media screen and (max-width: 540px) {
  .main_p-page {
    display: flex;
    flex-direction: column;
  }
  .main_p-page > .right > .title > h1 {
    font-size: 6vw;
  }
  .main_p-page > .right > .title > p {
    font-size: 3vw;
  }
  .p-wrap > .oPt {
    font-size: 4vw;
  }
  .p-wrap > .dPt {
    font-size: 5vw;
  }
  .sale_p {
    font-size: 4vw;
  }
  .main_p-page > .right {
    padding: 3vw 2vw;
  }
  .delivery {
    padding: 2vw 0;
  }
  .pay_price {
    margin: 2vw 0;
  }
  .first_coupon {
    font-family: "Noto Sans KR", sans-serif;
    padding: 5px 10px;
    margin-top: 1vw;
  }
}
@media screen and (max-width: 420px) {
  .product-txt {
    font-size: 3vw;
  }
  .count > .count_box > button {
    width: 7vw;
    height: 7vw;
    font-size: 5vw;
  }
  .title {
    padding-bottom: 3vw;
  }
  .count > .count_box > .num {
    width: 7vw;
    height: 7vw;
    border-radius: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 3vw;
    text-align: center;
    padding-top: 4px;
  }
  .delivery > .d-info-wrap > .d-info > .delivery-icon {
    width: 7vw;
  }
  .delivery p {
    font-size: 3vw;
  }
  .first_coupon {
    font-size: 3vw;
    padding: 1vw 2vw;
    margin-top: 1vw;
  }
  .pay_price {
    margin: 3vw 0;
  }
  .pay_price > h1 {
    font-size: 3vw;
  }
  .all_p {
    font-size: 4vw;
  }
  #coupon-discount {
    font-size: 4vw;
  }
  .pay_price > .total_price {
    font-size: 4vw;
  }
  .p_menu > button {
    font-size: 4vw;
    height: 15vw;
  }
}
