@charset "utf-8";
.banner{
    position: relative;
    width: 100%;
    /* padding-top: 110px; */
    z-index: 1 !important;
}
.sw-banner{
    position: relative;
    z-index: 1 !important;
    width: 100%;
}
.sw-banner a{
    width: 100%;
    display: block;
    position: relative;
    z-index: 1 !important;
}
.sw-banner a img{
    width: 100%;
    display: block;
    position: relative;
    z-index: 1 !important;
}
.sw-banner .swiper-slide{
    position: relative;
    z-index: 1 !important;
}

  .banner.hide{
    margin-top: 110px;
  }