@charset "utf-8";
.best-review {
  padding-top: 105px;
  width: 100%;
}
.best-review .inner {
  max-width: 1400px;
  padding: 0 20px;
}
.best-review h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 35px;
}
.best-review .swiper-wrapper{
  padding : 30px 20px;
}
.best-review .swiper-slide {
  height: auto; /* fallback */
  aspect-ratio: 1/1.6;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5px;
}
.best-review .swiper-slide:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.review-image {
  width: 100%;
  height: auto; /* fallback */
  aspect-ratio: 1;
}
.review-image img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.review-text {
  padding: 20px 15px;
  position: relative;
}
.review-title {
  margin-top: 15px;
  
}
.review-title a {
  display: block;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.review-p {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 100%;
}
.review-p a {
  display: block;
  width: 100%;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.review-name {
  font-size: 13px;
  /* margin-top: 25px; */
  color: #555;
  padding-bottom: 30px;
}
.review-name span {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 0.5px solid #ddd;
}
.review-product {
  display: flex;
  align-items: center;
  padding-top: 10px;
  border-top: 0.5px solid #ddd;
}
.review-product a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  color: #555;
}
.review-product a img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  vertical-align: middle;
}
.review-may::after{
content: "";
background-image: url("../../images/review/may.png");
background-repeat: no-repeat;
background-size: cover;
width: 73px;
height: 201px;
position: absolute;
top: 0;
left: 50px;
}
.review-june::after{
content: "";
background-image: url("../../images/review/june.png");
background-repeat: no-repeat;
background-size: cover;
width: 73px;
height: 201px;
position: absolute;
top: 0;
left: 50px;
}
.review-july::after{
content: "";
background-image: url("../../images/review/july.png");
background-repeat: no-repeat;
background-size: cover;
width: 73px;
height: 201px;
position: absolute;
top: 0;
left: 50px;
}
.review-august::after{
content: "";
background-image: url("../../images/review/august.png");
background-repeat: no-repeat;
background-size: cover;
width: 73px;
height: 201px;
position: absolute;
top: 0;
left: 50px;
}
/* .sw-review{
  position: relative;
}
.best-review .sw-bt{
  position: absolute;
  top: 500px;
  width: 50px;
  height: 50px;
} */
@media screen and (max-width: 1330px){
  .review-name{
    display: none;
  }

}
@media screen and (max-width:1020px){
  .best-review .swiper-slide::after{
    width: 43.8px;
    height: 120.6px;
    left: 30px;
  }
  .best-review .swiper-wrapper{
    padding: 30px 0;
  }
  
}
@media screen and (max-width:600px){
  .best-review .swiper-slide::after{
    width: 36px;
    height: 100px;
    left: 20px;
  }
  .review-title a{
    font-size: 15px;
  }
  .review-p a{
    font-size: 13px;
  }
}
@media screen and (max-width:450px){
.review-text{
  padding: 10px 5px;
}
  .review-text img{
  height: 15px;
}
.review-title{
  margin-top: 10px;
}
.review-p{
  margin-top: 7px;
  margin-bottom: 10px;
}
.review-product a img{
  width: 35px;
  height: 35px;
}
}