@charset "utf-8";
.mini-banner {
  margin-top: 50px;
  width: 100%;
  height: 254px;
  font-family: "Oswald", sans-serif;
  padding-top: 50px;
}
.mini-banner span {
  font-size: 30px;
}
.mini-banner p {
  font-size: 40px;
  font-weight: bold;
  margin-top: 18px;
}
.mini-banner-box {
  border: 2px solid black;
  width: 220px;
  height: 50px;
  text-align: center;
  align-content: center;
  font-size: 25px;
  margin-top: 34px;
  border-radius: 25px;
}
.mini-banner-box a {
  cursor: pointer;
}
.mini-banner-box a p {
  line-height: 46px;
  margin: 0;
  font-weight: 500;
  font-size: 25px;
}
.mini-banner1 {
  background-color: rgba(255, 100, 44, 0.25);
}
.mini-banner2 {
  background-color: rgba(5, 103, 38, 0.25);
}
.mini-banner .inner {
  position: relative;
  height: 100%;
  padding: 0 50px;
}
.mini-banner1 .inner::after {
  content: "";
  background-image: url("../../images/mini_banner/minibanner1.png");
  background-size: cover;
  width: 419px;
  height: 240px;
  right: 0;
  bottom: 7px;
  position: absolute;
}
.mini-banner2 .inner::after {
  content: "";
  background-image: url("../../images/mini_banner/minibanner2.png");
  background-size: cover;
  width: 447px;
  height: 380px;
  right: 0;
  bottom: 7px;
  position: absolute;
}
@media screen and (max-width: 1200px) {
  .mini-banner .inner::after {
    background-image: none;
    display: none;
  }
  .mini-banner p {
    font-size: 30px;
  }
  .mini-banner2 {
    margin-top: 0;
  }
}
@media screen and (max-width: 470px) {
  .mini-banner {
    padding-top: 25px;
  }
  .mini-banner p {
    line-height: 1.2;
  }
}
