@charset "utf-8";
.br-768{
  display: none;
}
@media screen and (max-width: 1500px) {
  .xilk-explain {
    padding: 0 20px;
  }
  .right-xilk-carton {
    padding: 20px !important;
  }
}
@media screen and (max-width: 768px) {
  .br-768{
    display: block;
  }
  .xilk-use > .xilk-use-txt > h1 {
    font-size: 30px !important;
  }
  .xilk-intro-txt-bg {
    height: 130vw !important;
  }
  .xilk-explain-txt > .txt-1 > h1,
  .xilk-explain-txt > .txt-2 > h1 {
    font-size: 30px !important;
  }
  .xilk-explain-txt p {
    font-size: 17px !important;
    line-height: 23px !important;
  }
  .right-xilk-carton {
    padding: 20px !important;
  }
  .right-xilk-carton > .xilk-carton-n-txt > .nutritionFacts-protein {
    font-size: 18px !important;
  }
  .xilk-carton-n-txt > h2 {
    font-size: 18px !important;
    margin-top: 40px;
  }
}
@media screen and (max-width: 600px){
  .right-xilk-carton {
    padding: 20px !important;
  }
  .right-xilk-carton > .xilk-carton-n-txt > .nutritionFacts-protein {
    font-size: 18px !important;
  }
  .xilk-carton-n-txt > h2 {
    font-size: 18px !important;
    margin-top: 40px;
  }
  .xilk-intro-txt > h1 > span{
    font-size: 80px !important;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 420px) {
  .xilk-use > .xilk-use-txt > h1 {
    font-size: 23px !important;
  }
  .xilk-explain {
    margin: 10px auto 20px !important;
  }
  .xilk-explain-txt > .txt-1 > h1,
  .xilk-explain-txt > .txt-2 > h1 {
    padding-top: 15px !important;
    font-size: 23px !important;
  }
  .xilk-explain-txt p {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .right-xilk-carton {
    padding: 20px !important;
  }
  .right-xilk-carton > .xilk-carton-n-txt > .nutritionFacts-protein {
    font-size: 14px !important;
  }
  .xilk-carton-n-txt > h2 {
    font-size: 14px !important;
    margin-top: 40px;
  }
}
