@charset "utf-8";
@import url("xilk-responsive.css");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Luckiest+Guy&family=Nerko+One&display=swap");
html,
body {
  -webkit-font-smoothing: antialiased;
}

.about-tit {
  height: 400px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.349)), url("../../images/xilk/xilk-drink-ex.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  display: block;
}
.the-plant-eat-w-logo {
  width: 190px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.the-plant-eat-w-logo > img {
  width: 100%;
}
.main-tit {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #ff642c;
  padding: 20px 60px;
  border-radius: 5px;
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
}
.main-tit > h1 {
  color: white;
  margin: 0 auto 20px;
  font-size: 38px;
}
.main-tit > p {
  color: white;
  margin: 0 auto 15px;
}
/* 글 */
.about-txt {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 300px;
  padding: 0 100px;
}
.the-plant-eat_txt {
  position: relative;
  height: 120px;
  margin: 0 auto;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
}
.the-plant-eat_txt::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #056726;
  bottom: 12px;
}
.the-plant-eat_txt > .the-plant-eat_logo {
  position: absolute;
  width: 250px;
  height: 150px;
  overflow: hidden;
}
.the-plant-eat_txt > .the-plant-eat_logo > img {
  width: 100%;
}
.the-plant-eat_txt > h3 {
  position: absolute;
  left: 247px;
  top: 40px;
  font-size: 15px;
  font-weight: 500;
  color: #333;
}
.the-plant-eat_txt > h3 > p > span {
  color: #056726;
}
.about-txt > h1 {
  transform: translateY(-10px);
  font-size: 20px;
  font-weight: 900;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  color: #333;
}
.sub-txt-wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.sub-txt-wrap > p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #333333d3;
}
/* 실크 인트로 ================================================================================= */
.xilk-intro {
  margin-top: 200px;
  text-align: center;
}
h2 {
  color: #a14900;
}
.xilk-intro-txt > h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
  font-family: "Luckiest Guy", cursive;
  font-size: 129px;
  color: #ff642c;
  text-shadow: 0 1px 0 #a14900, 0 2px 0 #a14900, 0 3px 0 #a14900, 0 4px 0 #a14900, 0 5px 0 #a14900, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}
.xilk-intro-txt h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
.xilk-intro-txt h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
.xilk-intro-txt h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #a14900, 0 2px 0 #a14900, 0 3px 0 #a14900, 0 4px 0 #a14900, 0 5px 0 #a14900, 0 6px 0 #a14900, 0 7px 0 #a14900, 0 8px 0 #a14900, 0 9px 0 #a14900, 0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
.xilk-intro-txt-bg {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  height: 1200px;
  background: url("../../images/xilk/xlik-intro-bg.png") no-repeat center;
  background-size: cover;
}
.xilk-intro-txt-bg > img {
  width: 100%;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.418));
}
/* 실크 설명 ================================================================================= */
.xilk-explain {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto 60px;
}
.xilk-explain-txt > .txt-1 > h1,
.xilk-explain-txt > .txt-2 > h1 {
  font-size: 40px;
  font-weight: 900;
  font-family: "Noto Sans KR", sans-serif;
  color: #ff642c;
  padding-top: 40px;
}
.xilk-explain-txt p {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  color: #000000b6;
  word-spacing: 0.05rem;
  padding: 10px 0 20px;
  line-height: 27px;
}
/* 실크 영양성분 =================================================================================*/
.xilk-nutritionFacts {
  /* background-color: #2cc3ff; */
  overflow: hidden;
}

.left-xilk-carton,
.right-xilk-carton {
  width: 100%;
  height: 350px;
}
.left-xilk-carton {
  position: relative;
  background-color: #ff642c;
  display: flex;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.7s ease-in-out;
}
.left-xilk-carton::after{
  content: "";
  height: 0;
  width: 0;
  border-top: 175px solid rgba(0, 0, 0, 0);
  border-right: 175px solid rgba(0, 255, 255, 0);
  border-left: 175px solid  #ff642c;;
  border-bottom: 175px solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: -350px;
  z-index: 99;
}
.left-xilk-carton::before{
  content: "";
  height: 20px;
  width: 100px;
  position: absolute;
  top: 50%;
  right: -230px;
  transform: translateY(-50%);
  z-index: 999;
  background-color: #ff642c;
}
.left-xilk-carton.carton_active {
  transform: translateX(0);
}
.left-xilk-carton .xilk-carton-nutritionFacts {
  width: 100%;
  height: 100%;
  background: url("../../images/xilk/xilk-n-info-bg.png") right no-repeat;
  background-size: contain;
}
.left-xilk-carton > .xilk-carton-n-txt {
  width: 100%;
}
.left-xilk-carton > .xilk-carton-n-txt > h1 {
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
}
.right-xilk-carton {
  background-color: #f1e1cc;
  display: flex;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.7s ease-in-out;
}
.right-xilk-carton::after{
  content: "";
  height: 0;
  width: 0;
  border-top: 175px solid rgba(0, 0, 0, 0);
  border-right: 175px solid #f1e1cc;
  border-left: 175px solid  rgba(0, 0, 0, 0);;
  border-bottom: 175px solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: -350px;
  z-index: 99;
}
.right-xilk-carton::before{
  content: "";
  height: 20px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: -230px;
  transform: translateY(-50%);
  z-index: 999;
  background-color: #f1e1cc;
}
.right-xilk-carton.carton_active {
  transform: translateX(0);
}
.right-xilk-carton > .xilk-carton-n-txt {
  width: 60%;
  text-align: right;
}
.right-xilk-carton > .xilk-carton-n-txt > .nutritionFacts-protein {
  font-size: 25px;
  font-weight: 900;
  font-family: "Noto Sans KR", sans-serif;
}
.right-xilk-carton > .xilk-carton-n-txt > .nutritionFacts-protein > p {
  font-size: 14px;
  line-height: 20px;
  color: #ff642c;
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 10px;
}
.right-xilk-carton .xilk-carton-p-nutritionFacts {
  width: 40%;
  height: 100%;
  padding: 20px;
  display: flex;
}
.xilk-carton-n-txt > h2 {
  font-size: 20px;
  margin-top: 40px;
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
}
/* 실크 활용법 =================================================================================*/
.xilk-use {
  display: block;
  position: relative;
  width: 100%;
}
.xilk-use > .xilk-use-txt {
  margin: 120px 0 80px;
  text-align: center;
}
.xilk-use > .xilk-use-txt > h1 {
  font-size: 40px;
  font-weight: 900;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 0.08rem;
  color: #ff642c;
}
.xilk-use > .xilk-use-txt > p {
  padding: 10px 0 0 0;
  font-size: 20px;
  font-weight: 500;
  color: #000000b6;
  word-spacing: 0.05rem;
  line-height: 27px;
  font-family: "Noto Sans KR", sans-serif;
}
.xilk-use-motion-wrap {
  width: 100%;
}
.xilk-use-motion-wrap > .use-to-food,
.xilk-use-motion-wrap > .use-to-drink {
  display: flex;
  width: 100%;
}
.xilk-use-motion-wrap > .use-to-drink {
  flex-direction: row-reverse;
}
.xilk-use-img {
  width: 100%;
  position: relative;
  display: block;
}
.xilk-use-img > img {
  width: 100%;
  position: relative;
}
.xilk-use-motion-wrap > .use-to-food > .xilk-use-img::after {
  content: "XILK를 베이스로 만든 비건 크림 파스타";
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  height: calc(100% - 15px);
  padding-bottom: 10px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.384);
  transition: opacity 0.2s ease-out;
  opacity: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.xilk-use-motion-wrap > .use-to-food > .xilk-use-img:hover::after {
  opacity: 1;
}
.xilk-use-motion-wrap > .use-to-drink > .xilk-use-img::after {
  content: "우유 대신 XILK를 첨가한 카페 라떼";
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  height: calc(100% - 15px);
  padding-top: 10px;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.384);
  transition: opacity 0.2s ease-out;
  opacity: 0;
  display: flex;
}
.xilk-use-motion-wrap > .use-to-drink > .xilk-use-img:hover::after {
  opacity: 1;
}
.xilk-use-food-txt,
.xilk-use-drink-txt {
  width: 100%;
}
.xilk-use-drink-txt {
  text-align: right;
}
.xilk-use-food-txt > .use-txt-wrap,
.xilk-use-drink-txt > .use-txt-wrap {
  padding: 20px;
}
.use-txt-wrap > h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 30px;
  font-weight: 900;
}
.use-txt-wrap > h3 {
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 20px;
  color: #000000b6;
}
.use-txt-wrap > p {
  font-family: "Noto Sans KR", sans-serif;
}
.recipe-more {
  font-weight: 700;
  border-radius: 50px;
  border: 1px solid #ccc;
  padding: 10px 30px;
  margin: 0 20px 20px;
  font-family: "Noto Sans KR", sans-serif;
}
.recipe-more:hover {
  background-color: #ff642c;
  color: #fff;
  border: 1px solid #a1480062;
}
