@charset "utf-8";
/* 반응형 */

@media screen and (max-width : 1400px) {
.prducts > .prducts-name{
  font-size: 16px;
}
.prducts > .p-pice{
  font-size: 16px;
}
}
@media screen and (max-width : 802px) {
  .prducts-icon{
    width: 50%;
   gap: 5px;
   margin: 50px auto;
  }
  .icon-button p{
    display: none;
  }
 }