@charset "utf-8";
/* 반응형 */
@media screen and (max-width : 1020px){
    .icon-button {
        width: 90px;
        height: 60px;

      }
      .icon-button {
        width: 90%;
        height: 90%;
        border-radius: 0;
      }
      .prducts-icon  {
        display: flex;
        margin-bottom: 100px;
        justify-content: center;
      }
      
      .prducts-icon > li > button > p {
        font-size: 12px;
        font-weight: 1000;
      }
};
@media screen and(max-width : 950px){
    .icon-button {
        width: 70px;
        height: 60px;
}}