@charset "utf-8";
.video {
  width: 1500px;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
.video > video {
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 더플랜잇 기술 세션 css */
.the-plant-eat_about_main-section {
  position: absolute;
}
.line {
  transition: all 0.5s;
}

.the-plant-eat_about_title {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  margin: 70px 0;
}
.the-plant-eat_about_title > strong {
  font-size: 40px;
  color: #056726;
  font-weight: 900;
}

/* 첫번쨰 줄 =============================================================*/
.the-plant-eat_about_main-section > .tech-1 > .line {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 50%;
  width: 100%;
  max-width: 450px;
  height: 270px;
  flex-direction: row-reverse;
}
.the-plant-eat_about_main-section > .tech-1 > .line > .line1-1 {
  height: 53%;
  width: 60%;
  border-radius: 0 15px;
  /* border: 1px solid #fff; */
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: translateX(-1px);
}
.the-plant-eat_about_main-section > .tech-1 > .line > .line1-2 {
  height: 54%;
  width: 0%;
  /* border: 1px solid #fff; */
  border-radius: 0 15px;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: translateY(-11px);
  transition: all 0.3s;
  position: relative;
}
/* 두번쨰 줄 =============================================================*/
.the-plant-eat_about_main-section > .tech-2 > .line {
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  max-width: 350px;
  height: 270px;
  border-top: 1px solid #fff;
  z-index: 9;
}
/* 세번쨰 줄 =============================================================*/
.the-plant-eat_about_main-section > .tech-3 > .line {
  display: flex;
  align-items: flex-end;
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 100%;
  max-width: 450px;
  height: 250px;
  /* border: 1px solid #fff; */
}
.the-plant-eat_about_main-section > .tech-3 > .line > .line3-1 {
  height: 20%;
  width: 60%;
  border-radius: 15px 0;
  /* border: 1px solid #fff; */
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: translateY(11px);
}
.the-plant-eat_about_main-section > .tech-3 > .line > .line3-2 {
  height: 20%;
  width: 0%;
  border-radius: 15px 0;
  /* border: 1px solid #fff; */
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: translateX(-1px);
  transition: all 0.3s;
}

.tech {
  z-index: 9999;
  opacity: 0;
  transition: all 0.3s;
}
.bgLogo-active {
  opacity: 1;
}
/* 1 */
.the-plant-eat_about_main-section > .tech-1 > .line > .line1-2 > .line1-after {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: -8px;
}
.tech-1.bgLogo-active > .line > .line1-2 {
  width: 40%;
}
.tech-2.bgLogo-active > .line {
  width: 100%;
  max-width: 350px;
}
.the-plant-eat_about_main-section > .tech-2 > .line > .line2-after {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: -8px;
  cursor: pointer;
}
.tech-3.bgLogo-active > .line > .line3-2 {
  width: 40%;
}
.the-plant-eat_about_main-section > .tech-3 > .line > .line3-2 > .line3-after {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: -8px;
  cursor: pointer;
}
.click-ani {
  cursor: pointer;
  display: block;
}
.click-ani-after {
  z-index: 999;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  animation: click-animation 0.8s infinite;
}
/* 클릭 이펙트 애니메이션 */
@keyframes click-animation {
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

/* 배경 로고 */
.the-plant-eat_flip.bg-m_line1-after {
  left: calc(50% + 30%);
}
.the-plant-eat_flip.bg-m_line2-after {
  left: calc(50% - 30%);
}
/* 선 */
.tech-1 > .line.m_line1-after {
  right: calc(50% - 30%);
}
.tech-2 > .line.m_line2-after {
  right: calc(50% - 30%);
}
.tech-3 > .line.m_line3-after {
  left: calc(50% - 30%);
}
.tech-1 > .line.hide {
  opacity: 0;
  width: 0;
  transition: all 0.2s;
}
.tech-2 > .line.hide {
  opacity: 0;
  width: 0;
  transition: all 0.2s;
}
.tech-3 > .line.hide {
  opacity: 0;
  width: 0;
  transition: all 0.2s;
}
.tech-1 {
  z-index: 999;
}
/* 기술 정보 ======================================================== */
.tech-infos {
  z-index: -1;
  position: absolute;
  width: 50px;
  height: 500px;
  /* height: 50px; */
  background-color: rgb(255, 255, 255);
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
}
.info_close-bt {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 2px;
  top: 2px;
  border: none;
}
.info_close-bt:hover > span {
  background-color: black;
}
.info_close-bt > span {
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(45deg);
  background-color: rgb(107, 107, 107);
}
.info_close-bt > span:last-of-type {
  transform: translateY(-50%) rotate(-45deg);
}
.tech-infos.info_active {
  opacity: 1;
  width: 200%;
  visibility: visible;
}
.tech-infos .infos-txt {
  opacity: 0;

}
.tech-infos.info_active .infos-txt {
  opacity: 1;
  transition: all 0.7s;
  transition-delay: 0.2s;
}
.tech-1 .tech-infos.info_active > h1,
.tech-1 .tech-infos.info_active > h2,
.tech-1 .tech-infos.info_active > h3,
.tech-1 .tech-infos.info_active > p,
.tech-1 .tech-infos.info_active > small {
  font-family: "Noto Sans KR", sans-serif !important;
}
.tech-1 .tech-infos.info_active {
  width: 300%;
}
.tech-2 .tech-infos.info_active {
  width: 150%;
}
.tech-3 .tech-infos.info_active {
  width: 300%;
}
/*테크 인포 이미지 및 텍스트 css */

.tech-infos > .infos-txt {
  padding: 10px 10px 0;
}
.tech-infos > .infos-txt > .infos-txt-title {
  display: flex;
  justify-content: space-between;
}
.tech-infos > .infos-txt > .infos-txt-title > h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 800;
}
.tech-infos > .infos-txt > .infos-txt-title > h2 > small {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}
.infos-txt-p {
  font-family: "Noto Sans KR", sans-serif;
}
.tech-infos > .infos-txt > .infos-abt {
  display: flex;
  gap: 8px;
  margin: 2px 5px;
}
.infos-abt > li {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50px;
  font-size: 0;
  cursor: pointer;
  position: absolute;
}

/* 1 */
.tech-1 .tech-infos {
  left: -300%;
  transform: translate(-15px, -70px);
}
/* 2 */
.tech-2 .tech-infos {
  left: -200%;
  transform: translate(15px, -290px);
}
/* 3 */
.tech-3 .tech-infos {
  right: -300%;
  transform: translate(15px, -205px);
}
.tech-infos-img {
  width: 100%;
  display: flex;
}
.tech-infos-img > img {
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .the-plant-eat_about_main-section > .tech-1 > .line {
    max-width: 400px;
  }
  .the-plant-eat_about_main-section > .tech-2 > .line {
    max-width: 300px;
  }
  .tech-2 .tech-infos {
    left: -170% !important;
    transform: translate(15px, -290px);
  }
  .the-plant-eat_about_main-section > .tech-3 > .line {
    max-width: 400px;
  }
}
@media screen and (max-width: 1200px) {
  .the-plant-eat_about_main-section > .tech-1 > .line {
    max-width: 300px;
  }
  .the-plant-eat_about_main-section > .tech-2 > .line {
    max-width: 300px;
  }
  .tech-2 .tech-infos {
    left: -170%;
    transform: translate(15px, -290px);
  }
  .the-plant-eat_about_main-section > .tech-3 > .line {
    max-width: 300px;
  }
  .tech-infos h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1080px) {
  .the-plant-eat_about_main-section > .tech-1 > .line {
    max-width: 200px;
  }
  .the-plant-eat_about_main-section > .tech-2 > .line {
    max-width: 200px;
  }
  .tech-1 .tech-infos {
    max-width: none;
    transform: translate(-180px, -70px);
  }
  .tech-2 .tech-infos {
    max-width: none;
    left: -200%;
    transform: translate(-70px, -290px);
  }
  .tech-3 .tech-infos {
    max-width: none;
    transform: translate(180px, -205px);
  }
  .tech-1 .tech-infos.info_active {
    width: 400px;
  }
  .tech-2 .tech-infos.info_active {
    width: 400px;
  }
  .tech-3 .tech-infos.info_active {
    width: 400px;
  }
  .the-plant-eat_about_main-section > .tech-3 > .line {
    max-width: 200px;
  }
  .tech-infos h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 810px) {
  .the-plant-eat_flip {
    width: 150px !important;
    /* max-width: 400px; */
    height: 150px !important;
    /* max-height: 400px; */
  }
  .the-plant-eat_about_main-section > .tech-1 > .line {
    max-width: 200px;
  }
  .the-plant-eat_about_main-section > .tech-2 > .line {
    max-width: 200px;
  }
  .tech-1 .tech-infos {
    max-width: none;
    transform: translate(-180px, -70px);
  }
  .tech-2 .tech-infos {
    max-width: none;
    left: -200%;
    transform: translate(-70px, -290px);
  }
  .tech-3 .tech-infos {
    max-width: none;
    transform: translate(180px, -205px);
  }
  .tech-1 .tech-infos.info_active {
    width: 400px;
  }
  .tech-2 .tech-infos.info_active {
    width: 400px;
  }
  .tech-3 .tech-infos.info_active {
    width: 400px;
  }
  .the-plant-eat_about_main-section > .tech-3 > .line {
    max-width: 200px;
  }
  .tech-infos h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 790px) {
  .the-plant-eat_about_main-bg {
    display: none;
  }
  .mobile-the-plant-eat_about_main-bg {
    display: block !important;
  }
  .mobile-the-plant-eat_about_main-bg > .inner > .swiper {
    position: relative;
  }
  .mobile-the-plant-eat_about_main-bg > .inner > .swiper > .swiper-wrapper > .swiper-slide {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 40px;
    background-color: #034934;
    color: #fff;
  }

  .mobile-the-plant-eat_about_main-bg > .inner > .swiper > .swiper-wrapper > .swiper-slide > .img-s {
    width: 100%;
  }
  .mobile-the-plant-eat_about_main-bg > .inner > .swiper > .swiper-wrapper > .swiper-slide > .img-s > img {
    width: 100%;
  }
  .mobile-the-plant-eat_about_main-bg > .inner > .swiper > .swiper-wrapper > .swiper-slide > .txt-s {
    padding: 10px 20px;
  }
  .mobile-the-plant-eat_about_main-bg > .inner > .swiper > .swiper-wrapper > .swiper-slide > .txt-s > h2 {
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
  }
  .mobile-the-plant-eat_about_main-bg > .inner > .swiper > .swiper-wrapper > .swiper-slide > .txt-s small {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
  }
  .mobile-the-plant-eat_about_main-bg > .inner > .swiper > .swiper-wrapper > .swiper-slide > .txt-s > .infos-txt-p {
    font-size: 15px;
  }
  .mobile-the-plant-eat_about_main-bg > .inner > .swiper > .swiper-pagination {
    position: absolute;
    top: 0px;
    height: 20px;
  }
}
