@charset "utf-8";
@import url("about-tpe.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


/* 어바웃 공통영역 */
.br768{
  display: none;
}


/* 어바웃 메뉴 리스트 */
.about_wrap {
  z-index: 0;
  position: relative;
}
.about-lists {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  /* background-color: antiquewhite; */
  margin-bottom: 100px;
}
.about-lists > h2 {
  width: auto;
  position: relative;
  cursor: pointer;
  color: #838383;
}
.about-lists > h2:hover {
  color: #000000;
}
.about-lists > h2::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 0px;
  height: 2px;
  background-color: #056726;
  transition: all 0.3s;
}
.about-lists > h2:first-of-type::after {
  background-color: rgb(228, 36, 36);
}
#about_itsBetter.title-active {
  color: #000000;
}
#about_itsBetter.title-active::after {
  width: 100%;
}
#about_thePlantEat.title-active {
  color: #000000;
}
#about_thePlantEat.title-active::after {
  width: 100%;
}
.about-lists > h2:hover::after {
  width: 100%;
}
.about_its-better {
  display: none;
}
.about_its-better.about-display {
  display: block;
}
.about_the-plant-eat {
  display: none;
}
.about_the-plant-eat.about-display {
  display: block;
}
.the-plant-eat_about_main-bg {
  display: none;
}
.the-plant-eat_about_main-bg.about-display {
  display: block;
}

/* 잇츠베러 ======================================================================*/

.its-better_txt {
  display: block;
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 150px;
}
.its-better_txt > .its-better_logo {
  position: absolute;
  width: 380px;
}
.its-better_logo > img {
  width: 100%;
}
.its-better_txt > h3 {
  position: absolute;
  left: 335px;
  top: 84px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}
.its-better_subtxt {
  max-width: 858px;
  width: 100%;
  margin: 0 auto 80px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  color: #0000007a;
}
.its-better_img {
  padding-left: 108px;
  width: 760px;
  height: 760px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(243, 236, 229);
  border: 1px solid #ff969634;
  border-radius: 500px;
  display: flex;
  /* justify-content: center; */
  align-content: center;
  flex-wrap: wrap;
  transition: all 0.3s;
}
.its-better_mover {
  width: 100%;
  left: 0;
  transform: translateX(0);
}
.its-better_more-info {
  position: relative;
  width: 100%;
  height: 760px;
  /* background-color: rgb(151, 167, 167); */
}

/* 잇츠베러 가운데 이미지======================================================================== */
.its-better_middle-img {
  width: 544px;
  height: 544px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.its-better_middle-img_after {
  width: 100%;
  height: 100%;
  padding-top: calc(50% - 30px);
  /* border-radius: 50%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  background-color: #00000050;
  color: white;
  opacity: 0;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
.its-better_middle-img_after:hover {
  opacity: 1;
}
.its-better_middle-img > img {
  width: 100%;
}
.ib_display-img {
  transition: opacity 0.4s ease-in-out;
}
/* 잇츠베러 어바웃 상품 상세 설명 ======================================================*/
.its-better_i_info {
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
}
.its-better_i_info.more-infoActive {
  width: 500px;
  opacity: 1;
  transition: all 0.4s;
  height: 544px;
}
.its-better_i_info > h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 35px;
  transform: translateX(60px);
  transition: all 0.5s;
}
.its-better_i_info.more-infoActive > h1 {
  transform: translateX(0);
}
.its-better_i_info > p:first-of-type {
  transform: translateX(80px);
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.2s;
}
.its-better_i_info.more-infoActive > p:first-of-type {
  transform: translateX(10px);
  opacity: 1;
}
.its-better_i_info > p {
  font-family: "Noto Sans KR", sans-serif;
  transform: translateX(80px);
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.4s;
}
.its-better_i_info.more-infoActive > p {
  transform: translateX(20px);
  opacity: 1;
}
.its-better-i-data_sub1 {
  font-size: 20px;
  font-weight: 800;
  color: #00000085;
}
.its-better-i-data_sub2 {
  font-weight: 600;
  padding-top: 20px;
  padding-left: 30px;
  color: #00000085;
}
/* 잇츠베러 상품 보러가기 */
.go_a__shop {
  padding: 8px 30px;
  border-radius: 50px;
  position: absolute;
  top: 40px;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 0.4s;
  border: 1px solid #00000085;
  background-color: #00000000;
}
.go_a__shop:hover {
  background-color: #d329293a;
}
.go_a__shop-active {
  opacity: 1;
}
/* 잇츠베러 다른 상품 상세 설명 더보기 ================================================ */
.its-better_a_pbt_list {
  height: 80px;
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 0;
  /* background-color: rgb(214, 140, 43); */
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 0.4s;
}
.its-better_a_pbt_list > li {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.its-better_a_pbt_list > li > img {
  width: 100%;
  opacity: 0.3;
}
.its-better_a_pbt_list > li > img.about-icon-toggle {
  opacity: 1;
}
.its-better_a_pbt_list > li:hover > img {
  opacity: 1;
}
.a_pbt_list-active {
  opacity: 1;
}
/* 1080==================================================== */
.its-better_a_pbt-1080 {
  display: none;
  opacity: 0;
}
.its-better_a_pbt_list-1080 {
  height: 100px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* background-color: rgb(214, 140, 43); */
  /* opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 0.4s; */
}
.its-better_a_pbt_list-1080 > li {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.its-better_a_pbt_list-1080 > li > img {
  width: 100%;
  opacity: 0.3;
}
.its-better_a_pbt_list-1080 > li > img.about-icon-toggle-1080 {
  opacity: 1;
}
.its-better_a_pbt_list-1080 > li:hover > img {
  opacity: 1;
}
.a_pbt_list-active-1080 {
  opacity: 1;
}
/* 잇츠베러의 better-point============================================================== */
.its-better_Better-Point {
  text-align: center;
}
.its-better_Better-Point > h1 {
  margin: 100px 0;
}
.better-Point-list {
  display: flex;
  justify-content: space-evenly;
}
.better-Point-list > li {
  width: calc(100% / 3);
  max-width: 300px;
}
.better-Point-list > li > .better-Point-img {
  width: 100%;
}
.better-Point-list > li > .better-Point-img > img {
  width: 100%;
}
.better-Point-Txt > h3 {
  font-size: 23px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  padding-top: 30px;
  letter-spacing: -0.03em;
}
.better-Point-Txt > h3 > strong {
  font-family: "Inter", sans-serif;
  font-weight: 980;
  letter-spacing: 0.03em;
}
.better-Point-Txt > p {
  margin-top: 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  color: #0000007a;
}

/* 더플랜잇 ==========================================================================*/
.the-plant-eat_txt {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
}
.the-plant-eat_txt > .the-plant-eat_logo {
  position: absolute;
  width: 380px;
  height: 150px;
  overflow: hidden;
}
.the-plant-eat_txt > .the-plant-eat_logo > img {
  width: 100%;
}
.the-plant-eat_txt > h3 {
  position: absolute;
  left: 370px;
  top: 57px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}
.the-plant-eat_txt > h3 > p > span {
  color: #056726;
}
/* 설명 ==========================================================================*/
.the-plant-eat_subtxt {
  max-width: 858px;
  width: 100%;
  margin: 0 auto 80px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  color: #0000007a;
}
.the-plant-eat_explain {
  text-align: center;
  margin-top: 140px;
}
.the-plant-eat_explain p,
.the-plant-eat_explain h1,
.the-plant-eat_explain h2,
.the-plant-eat_explain h3,
.the-plant-eat_explain strong{
  font-family: "Noto Sans KR", sans-serif;
}
.slogan{
  width: 100%;
  max-width: 1000px;
  height: 246px;
  background-color:rgb(18, 71, 52);
  margin: 0 auto;
  border-radius: 8px;
}
.the-plant-eat_explain > .first-p{
  font-size: 20px;
  font-weight: 500;
  color: #00000099;
}
.the-plant-eat_explain > .first-p > strong{
  color: #000000;
}
.the-plant-eat_explain >.second-p{
  height: 190px;
}
.the-plant-eat_explain >.second-p.ex-p-active{
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.8s;
}
/* 더 플랜잇은 생각했어요 */
.the-plant-eat_explain >.second-p > .the-plant-eat-s-think {
  height: 80px;
  font-size: 40px;
  font-weight: 900;
  padding-top: 40px;
  margin-top: 100px;
}
/* 망가지는 지구와 지속되는 소비 사이에서 우리가 할수 있는 일은 무엇일까? */
.the-plant-eat_explain  >.second-p > .the-plant-eat-s-think-p {
  position: relative;
  font-size: 22px;
  padding: 20px 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  color: #042416cb;
}
.the-plant-eat_explain  >.second-p > .the-plant-eat-s-think-bg {
  margin: 0 auto;
  width: 0;
  height: 10vw;
  max-height: 130px;
  background: url("../../images/etx/the-plant-eat_txt-p3_bg.png") no-repeat center;
  background-size: cover;
  transition: width 0.6s ease-in-out;
  transform: translateY(-125px);
}
.the-plant-eat_explain  >.second-p > .the-plant-eat-s-think-bg.think-bg-active {
  width: 100%;
}
/* 우리는 육류의 소비량이 늘어나며 생긴 문제점을 돌아보았어요 */
.the-plant-eat-s-search {
  font-size: 24px;
  font-weight: 700;
  margin-right: 20%;
  color: #00000085;
}
.the-plant-eat_explain >.ex-strong{
  font-size: 24px;
  font-weight: 900;
  font-family: "Noto Sans KR", sans-serif;
}
.the-plant-eat_explain >h5 >.ex-strong{
  font-size: 24px;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
}
.the-plant-eat_explain > p {
  line-height: 40px;
}

/* 더 플랜잇 상세 페이지 */
/* 기술 및 방향성 */
.the-plant-eat_about_main-bg {
  width: 100%;
  height: 600px;
  background-color: #00000046;
  position: relative;
  z-index: -999;
}
.the-plant-eat_about_main-section {
  width: 100%;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background: rgba(0, 0, 0, 0);
  transition: all 0.4s;
  overflow: hidden;
}
.the-plant-eat_about_main-section.bg_hover {
  background: rgba(0, 0, 0, 0.137);
}
/* 이미지 움직이기 -=======================================*/
.the-plant-eat_flip {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  transition: all 0.5s;
}
.the-plant-eat_flip > .card {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.4s ease-out;
  transform-style: preserve-3d;
}
.the-plant-eat_flip > .card > .front,
.the-plant-eat_flip > .card > .back {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.the-plant-eat_flip > .card > .over {
  overflow: hidden;
  /* box-shadow: 0 0 5px 2px #6464645b; */
}
.the-plant-eat_flip > .card > .over img {
  width: 100%;
}
.the-plant-eat_flip > .card > .front {
  background: rgb(255, 255, 255);
}
.the-plant-eat_flip > .card > .back {
  background: rgba(0, 0, 0, 0);
  transform: rotateY(-180deg);
  filter: invert(20%);
}
.the-plant-eat_flip.hover > .card {
  transform: rotateY(-180deg);
}

@media screen and (max-width: 1560px) {
  .its-better_more-info {
    margin: 0 30px;
    width: calc(100% - 60px);
  }
}
@media screen and (max-width: 1500px) {
  .the-plant-eat_flip {
    width: 270px;
    /* max-width: 400px; */
    height: 270px;
    /* max-height: 400px; */
  }
}
@media screen and (max-width: 1400px) {
  .its-better_img {
    border-radius: 100px 0 0 0;
    gap: 10px;
  }
  .its-better_img {
    padding-left: 108px;
  }
  .its-better_middle-img {
    width: 544px;
    height: 544px;
    border-radius: 90px 0 0 0;
  }
}
@media screen and (max-width: 1223px) {
  .its-better_txt > .its-better_logo {
    margin-left: 20px;
  }
  .its-better_txt > h3 {
    margin-left: 20px;
  }
  .its-better_img {
    flex-wrap: nowrap;
  }
  .its-better_mover {
    padding-left: 60px;
  }
  .its-better_middle-img {
    width: 500px;
    height: 544px;
    overflow: hidden;
  }
  .its-better_middle-img > img {
    width: auto;
    height: 100%;
  }
  .its-better_a_pbt {
    display: none;
  }
  .its-better_a_pbt-1080.a_pbt_list-active-1080 {
    display: block;
    opacity: 1;
  }
  .its-better_a_pbt_list-1080 {
    flex-direction: row;
    justify-content: space-around;
  }
  .its-better_for1080 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
  }
  .better-Point-list {
    margin: 0 15px;
  }
  .better-Point-list > li {
    margin: 0 15px;
  }
  .its-better_i_info.more-infoActive {
    margin-top: 80px;
  }
  .its-better_i_info.more-infoActive > p {
    width: 350px;
  }
  .the-plant-eat_txt > .the-plant-eat_logo {
    margin-left: 20px;
  }
  .the-plant-eat_txt > h3 {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1080px) {
  .its-better_img {
    height: 100%;
    padding-left: 0px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .its-better_mover {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .its-better_middle-img {
    width: 544px;
    height: 544px;
    overflow: hidden;
  }
  .its-better_middle-img > img {
    width: 100%;
    height: auto;
  }
  .its-better_a_pbt {
    display: none;
  }
  .its-better_a_pbt-1080.a_pbt_list-active-1080 {
    display: block;
    opacity: 1;
  }
  .its-better_a_pbt_list-1080 {
    height: 100%;
    flex-direction: column;
  }
  .its-better_for1080 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    transition: all 0.5s;
  }
  .its-better_i_info.more-infoActive {
    height: 400px;
    margin-top: 0;
  }
  .the-plant-eat_flip {
    width: 200px;
    /* max-width: 400px; */
    height: 200px;
    /* max-height: 400px; */
  }
}
@media screen and (max-width: 960px) {
  .its-better_subtxt {
    margin-left: 40px;
    width: calc(100% - 40px);
  }
  .the-plant-eat_subtxt {
    margin-left: 40px;
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 768px) {
  /* 행렬 정리 공통영역 */
  .br768{
    display: block;
  }
  /* 잇츠베러 상단 택스트 반응형 ====================*/
  .its-better_txt {
    height: 120px;
  }
  .its-better_txt > .its-better_logo {
    width: 280px;
  }
  .its-better_i_info.more-infoActive {
    width: 100%;
    height: 200px;
  }
  .its-better_txt > h3 {
    font-size: 20px;
    margin-left: 20px;
    left: 246px;
    top: 61px;
  }
  .its-better_i_info.more-infoActive > p {
    width: 100%;
    max-width: 400px;
    padding-right: 30px;
  }
  .its-better_i_info.more-infoActive > p:last-of-type {
    font-size: 14px;
  }
  .its-better_subtxt {
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-left: 0;
    padding: 0 20px;
  }
  /* 잇츠베러 베러 포인트 반응형 */
  .better-Point-list {
    flex-direction: column;
  }
  .better-Point-list > li {
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 300px;
    display: flex;
  }
  .better-Point-list > li:nth-of-type(2) {
    flex-direction: row-reverse;
  }
  .better-Point-list > li > .better-Point-img,
  .better-Point-list > li > .better-Point-Txt {
    width: calc(100% / 2);
  }
  .better-Point-list > li > .better-Point-Txt {
    padding: 0 10px;
  }
  .better-Point-list > li > .better-Point-img {
    padding: 10px;
    box-shadow: 1px 1px 3px 2px #00000012;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .better-Point-list > li > .better-Point-img-1 {
    background: url("../../images/etx/mobile-Better-point-img-1.jpg") no-repeat center;
    background-size: cover;
  }
  .better-Point-list > li > .better-Point-img-2 {
    background: url("../../images/etx/mobile-Better-point-img-2.jpg") no-repeat center;
    background-size: cover;
  }
  .better-Point-list > li > .better-Point-img-3 {
    background: url("../../images/etx/mobile-Better-point-img-3.jpg") no-repeat center;
    background-size: cover;
  }
  .better-Point-list > li > .better-Point-img > img {
    display: none;
  }
  .better-Point-list {
    margin: 0;
  }
  .better-Point-list > li {
    margin: 0;
  }
  /* 잇츠베러 이미지 반응형 */
  .its-better_more-info {
    height: 800px;
  }
  .its-better_img {
    width: 100%;
    height: auto;
    /* max-height: 700px; */
    padding: 20px;
  }
  .its-better_img-wrapping {
    height: auto;
    max-height: 800px;
  }
  .its-better_middle-img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  /* 잇츠베러 버튼(다른상품소개) 크기및 위치 반응형 */
  .its-better_for1080 {
    margin-top: 0px;
    /* width: 100%;
    height: 100%; */
  }
  .its-better_a_pbt_list-1080 {
    height: 100%;
  }
  .its-better_a_pbt_list-1080 > li {
    width: 5vh;
    height: calc(100% / 4);
  }
  /* 더 플랜잇 택스트 반응형 */
  .the-plant-eat_txt {
    height: 120px;
  }
  .the-plant-eat_txt > .the-plant-eat_logo {
    width: 280px;
  }
  .the-plant-eat_txt > h3 {
    font-size: 20px;
    margin-left: 20px;
    left: 274px;
    top: 37px;
  }
  .the-plant-eat-s-think-p{
    line-height: 23px !important;
    font-size: 18px !important;
  }
  .the-plant-eat-s-think-bg{
    transform: translateY(-75px) !important;
  }
  .the-plant-eat_subtxt {
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-left: 0;
    padding: 0 20px;
  }
  .the-plant-eat_explain{
    margin: 0 20px;
  }
}
@media screen and (max-width: 600px) {
  .its-better_more-info {
    height: 650px;
    overflow: hidden;
  }
  .its-better_img {
    width: 100%;
    height: auto;
    /* max-height: 700px; */
    padding: 20px;
  }
  .its-better_img-wrapping {
    height: auto;
    max-height: 650px;
  }
  .its-better_a_pbt_list-1080 {
    align-items: center;
    width: 50px;
  }
  .its-better_a_pbt_list-1080 > li {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .its-better_more-info {
    height: 550px;
    overflow: hidden;
  }
  .its-better_img {
    width: 100%;
    height: auto;
    /* max-height: 700px; */
    padding: 20px;
  }
  .its-better_img-wrapping {
    height: auto;
    max-height: 550px;
  }
  .its-better_a_pbt_list-1080 {
    align-items: center;
    width: 40px;
  }
  .its-better_a_pbt_list-1080 > li {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .its-better_a_pbt_list-1080 {
    align-items: center;
    width: 35px;
  }
  .its-better_a_pbt_list-1080 > li {
    width: 100%;
  }
}
