@charset "utf-8";
.about-tit {
  height: 400px;
  background: url("../../images/etx/page_head_color_news.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  display: block;
}
.the-plant-eat-w-logo {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.the-plant-eat-w-logo > img {
  width: 100%;
}
.main-tit {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgb(18, 71, 52);
  padding: 20px 60px;
  border-radius: 5px;
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
}
.main-tit > h1 {
  color: white;
  margin: 0 auto 20px;
  font-size: 38px;
}
.main-tit > p {
  color: white;
  margin: 0 auto 15px;
}
/* 글 */
.about-txt {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 300px;
  padding: 0 100px;
}
.the-plant-eat_txt > h3 > p > span {
  color: #056726;
}
.about-txt > h1 {
  transform: translateY(-10px);
  font-size: 20px;
  font-weight: 900;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  color: #333;
}
.sub-txt-wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.sub-txt-wrap > p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #333333d3;
}

.mobile-the-plant-eat_about_main-bg {
  display: none;
  height: 100vw;
}
.mobile-the-plant-eat_about_main-bg > .inner {
  height: 100%;
}
.mobile-the-plant-eat_about_main-bg > .inner .swiper {
  width: 100%;
  height: 100%;
}
.sw-mobile-the-plant-eat_about > .swiper-wrapper {
  width: 100%;
  height: 100%;
}

